<div
    class="admin-session"
    id="adminSession"
    hidden
>

    <div class="admin-session__container">

        <div class="admin-session__user">

            <span>
                Signed in as
            </span>

            <strong id="adminSessionEmail">
                Administrator
            </strong>

        </div>


        <button
            type="button"
            class="admin-session__signout"
            id="adminSignOutButton"
        >
            Sign Out
        </button>

    </div>

</div>