<section class="community-polls">

    <div class="community-polls__container">

        <header class="community-polls__heading">

            <div>

                <p class="community-polls__eyebrow">
                    Civic Polls
                </p>

                <h2>
                    Questions participants are voting on
                </h2>

                <p>
                    Explore a few of the current civic questions
                    drawing participation across Civic Horizon.
                </p>

            </div>


            <a
                href="polls.html#community-polls"
                class="community-polls__view-all"
            >
                View All Civic Polls →
            </a>

        </header>


        <div
            class="community-polls__grid"
            id="homepageCommunityPolls"
        >

            <div class="community-polls__empty">

                <p>
                    Loading active civic polls...
                </p>

            </div>

        </div>

    </div>

</section>